[submodule "packages/tiny-engine-portal/tiny-engine"]
	path = packages/tiny-engine-portal/tiny-engine
	url = https://github.com/opentiny/tiny-engine.git
[submodule "genui-sdk"]
	path = genui-sdk
	url = https://github.com/opentiny/genui-sdk.git
[submodule "poc-ai-agent"]
	path = poc-ai-agent
	url = https://github.com/opentiny/poc-ai-agent.git
